.sound_cloud-track {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}
.sound_cloud-track_image img {
  height: 100%;
  width: 100%;
}
.sound_cloud-track_image {
  flex: 1;
}
.sound_cloud-track_audio_section {
  width: 100%;
  flex: 4;
}
.sound_cloud-track_audio_section {
  display: flex;
  flex-direction: column;
}
.sound_cloud-track_audio_section_play {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-a);
}
.sound_cloud-track_audio_section_play div {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sound_cloud-track_audio_section_play span {
  flex: 4;
}
.sound_cloud-track_audio_section_line_space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-color: var(--color-bg);
  padding: 0 1rem;
}
.sound_cloud-track_audio_section_line {
  width: 100%;
  height: 2px;
  background-color: var(--color-para-text);
}
.sound_cloud-track_audio_section_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin: 1rem 0;
}
.sound_cloud-track_audio_section_buttons button {
  padding: 0.25rem;
  width: 4rem;
  text-align: center;
  font-family: var(--font-a);
  font-size: 0.8rem;
  border: none;
  background-color: var(--color-container);
  border: 1px solid rgba(157, 157, 166, 0.3);
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sound_cloud-track_more_btn {
  position: relative;
  border: 2px solid red;
}
.ound_cloud-track_more {
  position: absolute;
  top: 100%;
  left: 100%;
}
.sound_cloud-track_more_card_three_dot_list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 7.5rem;
  /* border: 1px solid red; */
  z-index: 100;
}
.sound_cloud-track_more_card_three_dot_list button {
  white-space: nowrap;
  width: 100%;
  /* text-align: start; */
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.sound_cloud-track_duration {
  display: flex;
  flex-direction: row;
}
.sound_cloud-track_duration span {
  font-family: var(--font-a);
}
.sound_cloud-track_song_heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
/* Media queries Adding */
@media screen and (max-width: 600px) {
  .sound_cloud-track_image {
    width: 3rem;
    height: 3rem;
  }
  .sound_cloud-track_audio_section_buttons {
    display: none;
  }
  .sound_cloud-track_audio_graph {
    display: none;
  }
}
