.sound_cloud-try_next_pro {
  padding-top: 3rem;
  width: 100%;
  font-family: var(--font-a);
  background-color: white;
}
.sound_cloud-try_next_pro_image_part {
  background-image: url("../../Components//Images/singer.jpg");
  background-size: cover;
  height: 130vh;
  width: 100%;
}
.sound_cloud-try_next_pro_text_cover {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  font-family: var(--font-a);
}
.sound_cloud-try_next_pro_image_texts {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.sound_cloud-try_next_pro_image_texts h1 {
  font-size: 5rem;
  margin: 2rem 0;
  text-align: start;
  color: white;
}
.sound_cloud-try_next_pro_image_texts h3 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-align: start;
  margin: 1rem 0;
}
.sound_cloud-try_next_pro_image_texts h5 {
  font-family: var(--font-a);
  color: var(--color-btn-text);
  font-weight: 400;
}
.sound_cloud-try_next_pro_image_texts button {
  margin: 3rem 0;
  padding: 0.65rem 1.2rem;
  border-radius: 0.2rem;
  border: none;
  font-family: var(--font-a);
}
.sound_cloud-try_next_pro_bottom_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6rem 0;
  font-family: var(--font-a);
  color: var(--color-btn-text);
}
.sound_cloud-try_next_pro_bottom_text > * {
  flex: 1;
}
.sound_cloud-try_next_pro_bottom_text span p {
  font-size: 2rem;
}
.sound_cloud-try_next_pro_bottom_text div p {
  font-size: 0.8rem;
  max-width: 70%;
}
.sound_cloud-try_next_pro_bottom_text div h3 {
  font-weight: 500;
  margin: 3rem 0 1rem 0;
}
.sound-cloud-try_next_pro_middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 65%;
  gap: 1rem;
  margin: 0 auto;
}
.sound_cloud-try_next_pro h1 {
  text-align: center;
  font-size: 4rem;
  margin: 7rem 0 4rem 0;
  font-weight: 500;
}
.sound_cloud-try_next_pro_middle_next {
  border: 1px solid var(--color-para-text-light);
  width: 50%;
}
.sound_cloud-try_next_pro_middle {
  border: 1px solid var(--color-para-text-light);
  width: 50%;
}
.sound_cloud-try_next_pro_middle_next div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sound_cloud-try_next_pro_middle div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sound_cloud-try_next_pro_middle div button {
  padding: 0.75rem;
  font-family: var(--font-a);
  border-radius: 0.25rem;

  background-color: rgb(25, 24, 24);
  margin: 1rem 0;
  color: var(--color-btn-text);
  background-color: black;
}
.sound_cloud-try_next_pro_middle_next div button {
  color: var(--color-btn-text);
  background-color: rgb(99, 90, 90);
  border: none;
  margin: 1rem 0;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-family: var(--font-a);
}
.sound_cloud-try_next_pro_middle_next div p {
  font-size: 1.2rem;
  padding: 0.25rem 0;
}
.sound_cloud-try_next_pro_middle div p {
  padding: 0.25rem 0;
  font-size: 1.2rem;
}
@media screen and (max-width: 1000px) {
  .sound_cloud-try_next_pro_bottom_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .sound-cloud-try_next_pro_middle {
    flex-direction: column;
  }
  .sound_cloud-try_next_pro_middle_next {
    width: 90%;
  }
  .sound_cloud-try_next_pro_middle {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .sound_cloud-try_next_pro_bottom_text {
    grid-template-columns: repeat(1, 1fr);
  }
  .sound-cloud-try_next_pro_middle {
    flex-direction: column;
  }
}
@media screen and (max-width: 300px) {
  .sound_cloud-try_next_pro_middle_next {
    width: 100%;
  }
  .sound_cloud-try_next_pro_middle {
    width: 100%;
  }
}
