.sound_cloud-single_song {
  padding-top: 3.1rem;
  font-family: var(--font-a);
}
.sound_cloud-single_song_bg img {
  width: 100%;
  height: 100%;
}
.sound_cloud-single_song_bg {
  position: relative;
  width: 100%;
  height: 55vh;
}
.sound_cloud-single_song_track {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sound_sloud-single_song_left {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  /* border: 1px solid blue; */
  height: 100%;
}
.sound_cloud-single_song_graph {
  width: 100%;
  height: 1rem;
  background-color: skyblue;
}
.sound_cloud-single_song_img {
  flex: 1;
  border: 2px solid yellow;
  height: 100%;
}
.sound_cloud-single_song_heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.sound_cloud-single_song_heading span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sound_cloud-single_song_heading span p {
  background-color: var(--color-nav-bg);
  padding: 0.25rem;
  white-space: nowrap;
  color: var(--color-btn-text);
}
.sound_cloud-single_song_heading span p:nth-of-type(1) {
  font-size: 1.5rem;
}
.sound_cloud-single_song_detail {
  padding: 2rem;
  background-color: white;
  width: 100%;
}
.sound_cloud-single_song_like {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sound_cloud-single_song_like button {
  border: none;
  background-color: var(--color-container);
  font-family: var(--font-a);
  border: 1px solid var(--color-btn-border);
  padding: 0.25rem 0.25rem;
  cursor: pointer;
  min-width: 4rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 300;
  font-size: 0.9rem;
  /* border: 1px ; */
}
.sound_cloud-track_audio_section_line_space {
  display: flex;
  width: 100%;
  opacity: 0.5;
}
.sound_cloud-single_song_detail_img {
  height: 3rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 70%;
  background-color: var(--color-bg);
  /* justify-content: center; */
}
.sound_cloud-single_song_detail_img img {
  height: 100%;
}
.sound_cloud-single_song {
  margin-bottom: 4rem;
}
.sound_cloud-single_song_graph_cover {
  display: flex;
  width: 100%;
  position: relative;
  /* gap: 0.25rem; */
}
.sound_cloud-single_song_graph_cover span:nth-of-type(1) {
  position: absolute;
  background-color: var(--color-nav-bg);
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0 0.25rem;
  padding: 0.25rem;
  color: white;
}
.sound_cloud-single_song_graph_cover span:nth-of-type(2) {
  position: absolute;
  background-color: var(--color-nav-bg);
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0 0.25rem;
  padding: 0.25rem;
  color: white;
  right: 0;
}
.sound_cloud-single_song_comment {
  width: 100%;
}
.sound_cloud-single_song_comment input {
  width: 100%;
  padding: 0.4rem;
  font-family: var(--font-a);
  outline: none;
  /* margin: 1rem 0; */
}
.sound_cloud_single_song_comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  /* height: 100%; */
  width: 100%;
  margin: 1rem;
}
.sound_single_song_cloud-comment_img {
  height: 100%;
}
.sound_single_song_cloud-comment_img img {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
}
/* Media */
@media screen and (max-width: 600px) {
  .sound_cloud-single_song_img {
    display: none;
  }
  .sound_cloud-single_song_like {
    flex-direction: column;
  }
  .sound_cloud-single_song_like button {
    max-width: 5.5rem;
    justify-content: start;
    padding: 0.25rem 0;
    overflow: hidden;
  }
}
