.sound_cloud-category {
  width: 100%;
}
.sound_cloud-category_top {
  width: 100%;
  position: relative;
}
.sound_cloud-category_top img {
  width: 100%;
  height: 21rem;
}
.sound_cloud-category_top_absolute {
  position: absolute;
  top: 0rem;
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: start;
}
.sound_cloud-category_top_absolute p {
  background-color: black;
  padding: 1rem;
  color: var(--color-btn-text);
  font-family: var(--font-a);
}
.sound_cloud-category_tracks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-container);
}
.sound_cloud-category_tracks_left {
  margin: 1rem 0;
}
.sound_cloud-category_tracks_left ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}
.sound_cloud-category_tracks_left ul li {
}
.sound_cloud-category_tracks_left ul li a {
  color: var(--color-nav-selected);
  font-family: var(--font-a);
  font-size: 1.1rem;
  padding: 0.5rem;
  border-bottom: 1px solid white;
  white-space: nowrap;
}
.sound_cloud-category_tracks_left ul li a:hover {
  border-bottom: 1px solid black;
}
.sound_cloud-category_tracks_right ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
}
.sound_cloud-category_tracks_right ul li {
  padding: 0.5rem;
}
.sound_cloud-category_tracks_right ul li a {
  color: var(--color-nav-selected);
  font-family: var(--font-a);
}
.sound_cloud-category_menu {
  display: none;
}
@media screen and (max-width: 1200px) {
  .sound_cloud-category_tracks_right {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .sound_cloud-category_tracks_left {
    display: none;
  }
  .sound_cloud-category_tracks_left ul {
    gap: 0;
  }
  .sound_cloud-category_tracks_left ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .sound_cloud-category_tracks_left ul li {
    margin: 1rem 0;
  }
  .sound_cloud-category_tracks_left ul li a {
    text-align: start;
    /* margin: 1rem 0; */
  }
  .sound_cloud-category_menu {
    display: flex;
  }
}
